* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
font-family: 'Poppins', sans-serif;
}
.container {
     max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#header {
    background: #1F5E37;;
}
#section {
    background:#1F5E37;;
}
.header h1 {
    color: #fff;
font-family: Poppins;
font-size: 20px;
font-weight: 700;
}
.links {
    display: flex;
    gap: 50px;
}
.links a {
    color: #FFF;
font-family: Poppins;
font-size: 15px;
font-weight: 500;
}
.links2 {
    display: flex;
    gap: 20px;
    align-items: center;
}
.links2 a {
 color: #FFF;
font-family: Poppins;
font-size: 15px;
font-weight: 500;
}
.links2 button {
    border-radius: 100px;
background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFF;
padding: 13px 43px;
}
.section {
    display: flex;
    justify-content: space-around;
}
.world {
    color: #FFF;
font-size: 18px;
font-weight: 500;
padding: 11px 30px ;
border-radius: 15px;
background: rgba(255, 255, 255, 0.25);
margin-bottom: 10px;
}
.text p {
    color: #FFF;
font-size: 55px;
font-weight: 600;
}
.text h5 {
color: #fff;
font-size: 25px;
font-weight: 500;
padding: 30px 0;
opacity: 0.5;
}
.now {
    color: #FEFEFE;
font-size: 25px;
font-weight: 600;
padding: 26px 45px;
border-radius: 27px;
cursor: pointer;
background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%);
}
.now:hover {
    background: white;
    color: #FF7B4E;
}
.block {
    display: flex;
    justify-content: space-around;

}
#block {
background: #F6F6F6;
}
.picture img {
    border-radius: 40px;
}
.star h1 {
    color: #0F1F1C;
font-size: 45px;
font-weight: 500;
}
.logo {
    width: 120px;
height: 120px ;
background: #FA9;
border-radius: 50%;
display: flex;
justify-content: center;
 align-items: center;
}
.logo img {
    width:100%;
}
.stars:hover {
    letter-spacing: 0.55em;
}
.theboy { 
    display: flex;
    gap: 30px;
}
.theboy h4  {
color: #0F1F1C;
font-size: 33px;
font-weight: 500;
}
.theboy span {
color: #0F1F1C;
font-size: 25px;
font-weight: 400;
opacity: 0.5;
}
.star p {
color: #0F1F1C;
font-size: 22px;
font-weight: 500;
padding-top: 50px;
}
.st {
  color:#FFD336;;
}
.ar {
    color:#C4C4C4;;
}
.stars {
    font-size: 40px;
    padding-top: 30px;
}
#hero {
background: #F6F6F6;
}
.divvv {
 width: 1240px;
height: 581px;
border-radius: 60px;
background: #FFF;
display: flex;
align-items: center;
flex-direction: column;
}
.divvv h1 {
color: #0F1F1C;
font-size: 45px;
font-weight: 500;
padding-top: 116px;
}
.divvv h5  {
    color: #0F1F1C;
font-size: 30px;
opacity: 0.5;
padding-top: 30px;
font-weight: 400;
}
.divvv button {
    color: #FFF;
font-size: 20px;
font-weight: 600;
padding: 25px 55px ;
margin-top: 60px;
border-radius: 27px;
background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%);
}
.divvv button:hover {
background: white;
color: #FF7B4E;
}
#one {
background: #F6F6F6;
}
.one {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.div {
display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 60px;
gap: 200px;
width: 880px;
height: 129px;
border-radius: 35px;
background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #C4C4C4;
}
.one h1 {
    color: #0F1F1C;
font-size: 55px;
font-weight: 600;
padding-top: 135px;
}
.div h6 {
    color: #0F1F1C;
opacity: 0.5;
font-size: 24px;
font-weight: 500;
}
.div button {
    color: #FFF;
    padding: 34px 86px;
font-size: 25px;
font-weight: 600;
border-radius: 35px;
background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFF;
}
.div button:hover {
    background: white;
    color: #FF7B4E;
}
#footer {
background: #F6F6F6;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 119px;
padding-bottom: 68px;
}
.footer h1 {
    color: #FF7C4E;
font-family: Poppins;
font-size: 20px;
font-weight: 700;
}
.link {
    display: flex;
    gap: 50px;
}
.link a {
    color: #000;
font-size: 15px;
font-weight: 500;
opacity: 0.5;
}
.link2 {
    display: flex;
    gap: 20px;
    align-items: center;
}
.link2 a {
 color: #000;
font-size: 15px;
font-weight: 500;
opacity: 0.5;
}
.link2 button {
    border-radius: 100px;
background: linear-gradient(130deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFF;
padding: 13px 43px;
}